
.dropdown-container{
  display: flex;
  height: 3rem;
}
.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 0.625rem 1.875rem 0.625rem 1.25rem;
  outline: none;
  background-color: #fff;
  color: #b0b0b0;
  border-color: #b0b0b0;
  cursor: pointer;
  white-space: nowrap;
  
}

.dd-button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.938rem;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 0.313rem solid transparent;
  border-right: 0.313rem solid transparent;
  border-top: 0.313rem solid black;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0;
  margin: 0.125rem 0 0 0;
  box-shadow: 0 0 0.375 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: flex;
  flex-direction: column;

}

.dd-menu li {
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}
